.offer_parent {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin: 2rem 4rem;
    /* background-color: bisque; */
    /* gap: 20px; */
}


@media (max-width: 768px) {
    .offer_parent {
        margin: 1.2rem 0.5rem;
    }
}

.offer_div_lines {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    /* background-color: blue; */
    gap: 30px;
    padding: 30px 30px 0px 30px;
}

@media (max-width: 768px) {
    .offer_div_lines {
        flex-direction: column;
        padding: 20px 17px 0px 17px;
        gap: 20px;
    }
}

.offer_div_individual {
    display: flex;
    justify-content: left;
    align-items: center;
    /* background-color: beige; */
    width: 46%;
    border-radius: 18px;
    border: 1px dashed #053478;
    padding: 1rem;
    gap: 1rem;
    cursor: pointer;

}

@media (max-width: 768px) {
    .offer_div_individual {
        width: 100%;
    }
}

.offer_pic {
    width: 160px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .offer_pic {
        width: 80px;
    }
}

.offer_location_and_description {
    display: flex;
    justify-content: left;
    flex-direction: column;
    /* background-color: burlywood; */
}

.offer_location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}

@media (max-width: 768px) {
    .offer_location {
        display: none;
    }
}

.offer_location_div1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}