.destination_discovery_image {
    width: 100%;
    border-radius: 1000px;
    border: 5px solid #053478;
    padding: 3px;
}

.destination_discovery_content {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px 0px 30px;
    gap: 50px;
}

@media (max-width: 768px) {
    .destination_discovery_content {
        gap: 15px;
        padding: 20px 0px 0px 0px;
        margin-bottom: -20px;
    }
}

.destination_discovery_content_individual {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-bottom: 12px;
    /* border-radius: 18px; */

    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    cursor: pointer;

    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.destination_discovery_content_individual:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .destination_discovery_content_no_show_on_mobile {
        display: none;
    }
}