.fullscreen_slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider_track {
    display: flex;
    width: 500vw;
    height: 100%;
    transition: transform 0.9s ease-in-out;
}

.slide {
    width: 100vw;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px) {
    .slide img {
        width: 160%;
        height: 100%;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

