.offer_and_holiday_parent {
    margin: -2.95rem 5rem 1rem;
    padding: 1.1rem 0rem;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;

    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .offer_and_holiday_parent {
        margin: -2.35rem 0.5rem 1rem;
        padding: 0.7rem 0rem;
    }
}

.offer_and_holiday_title {
    display: flex;
    justify-content: space-around;
}

.offer_and_holiday_title>div {
    flex: 1;
    cursor: pointer;
    text-align: center;
}

/* Default tab */
.offer_and_holiday_title>div font {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #6A9FE0;
}

.offer_and_holiday_title>div font:hover {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #2466B3;
}

/* Selected tab */
.offer_and_holiday_title>div.active_tab font {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #053478;
}

.offer_and_holiday_title>div.active_tab {
    border-bottom: 2px solid #053478;
    padding-bottom: 0.55rem;
}

@media (max-width: 768px) {
    .offer_and_holiday_title>div.active_tab {
        border-bottom: 2px solid #053478;
        padding-bottom: 0.35rem;
    }
}

.offer_and_holiday_content {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 130px;
    padding-top: 1rem;
}

.offer_and_holiday_title_individual {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer_and_holiday_icons_individual svg {
    display: block;
    /* prevents baseline behavior */
}

.home_page_offer_shortcut {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
    animation: offerandholidayimage 0.4s ease-in-out forwards;
}

@keyframes offerandholidayimage {
    from {
        transform: translateX(0);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.home_page_offer_shortcut_individual {
    padding: 1rem;
    border-radius: 18px;
    border: 1px dashed black;
    width: 30%;
    gap: 20px;

    display: flex;
    justify-content: left;
    align-items: center;

    margin-top: 1rem;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
    will-change: transform;
}

@media (max-width: 768px) {
    .home_page_offer_shortcut_individual {
        padding: 0rem;
        border: none;
        justify-content: center;
    }
}

.home_page_offer_shortcut_individual:hover {
    transform: scale(1.04);
}

.home_page_offer_shortcut_pic {
    width: 80px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .home_page_offer_shortcut_pic {
        width: 90px;
    }
}

.home_page_offer_shortcut_description {
    display: grid;
    gap: 3px;
}

@media (max-width: 768px) {
    .home_page_offer_shortcut_description {
        display: none;
    }
}

.home_page_offer_shortcut_view_more {
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_page_offer_shortcut_view_more svg {
    display: block;
}







.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    /* vertical center */
    justify-content: center;
    /* horizontal center */
    z-index: 9999;
    pointer-events: all;
}

.mini_screen {
    background: white;
    width: 100%;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);

    margin: 5rem;
    border-radius: 18px;

    padding: 4rem;
}

@media (max-width: 768px) {
    .mini_screen {
        margin: 0.5rem;
        padding: 1rem 1rem 2rem 1rem;
        width: auto;
    }
}

.offer_mini_screen_parent {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 768px) {
    .offer_mini_screen_parent {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 0rem;
        flex-direction: column;
    }
}

.home_page_offer_shortcut_pic_mini_page {
    width: 400px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .home_page_offer_shortcut_pic_mini_page {
        width: 0px;
    }
}

.offer_mini_screen_description {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 400px;
    width: 100%;
    padding: 0rem 2rem;
}

@media (max-width: 768px) {
    .offer_mini_screen_description {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 300px;
        width: auto;
        padding: 0rem 1rem;
    }
}

.offer_mini_screen_location_info {
    display: flex;
    justify-content: space-between;
}

.offer_mini_screen_location_info_from_to {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.offer_mini_screen_location_info_plane_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

@media (max-width: 768px) {
    .offer_mini_screen_location_info_plane_image {
        display: none;
    }
}

.ticket_like_plane_arrow {
    width: 80%;
}

.bg_container {
    width: 100%;
    /* min-height: 100vh; */
    background-image: url("../../../assets/ticket_like/2.webp");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center top;
}

@media (max-width: 768px) {
    .bg_container {
        background-size: 100%;
    }
}

.offer_mini_screen_buttons {
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 768px) {
    .offer_mini_screen_buttons {
        justify-content: center;
    }
}

.offer_mini_screen_buttons_individual {
    background-color: #6A9FE0;
    color: white;
    border-radius: 8px;
    padding: 0.8rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 768px) {
    .offer_mini_screen_buttons_individual {
        width: 5.3rem;
    }
}

.offer_mini_screen_buttons_individual:hover {
    background-color: #053478;
    color: white;
}


.holiday_mini_screen_discount_code{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 250px;
}

.holiday_mini_screen_discount_code_individual{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.home_page_offer_paragraph{
    line-height: 22px;
    padding-top: 10px;
}

.home_page_offer_paragraph_home{
    line-height: 20px;
    padding-top: 6px;
}