.our_expertise_parent {
    /* background-color: bisque; */
    margin: 4rem 4rem;
}

@media (max-width: 768px) {
    .our_expertise_parent {
        margin: 2.5rem 0.5rem;
    }
}

.our_expertise_title {
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 5px;
}

.our_expertise_title_title {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.our_expertise_title_title svg {
    display: block;
}

.our_expertise_description_paragraph {
    line-height: 22px;
    padding-top: 5px;
}

.our_expertise_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0px 30px;
    gap: 30px;
}

@media (max-width: 768px) {
    .our_expertise_content {
        gap: 4px;
        padding: 20px 0px 0px 0px;
    }
}

.our_expertise_content_individual {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    background-color: #FFFDF7;
    box-shadow: 0px 2px 8px #C0C0C0;
    width: 100%;
    padding-bottom: 12px;
    border-radius: 18px;
    cursor: pointer;

    transition: transform 0.25s ease-in-out;
    will-change: transform;
}

.our_expertise_content_individual:hover {
    transform: scale(1.04);
}

@media (max-width: 768px) {
    .our_expertise_content_no_show_on_mobile {
        display: none;
    }
}

.our_experties_image {
    width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}