.our_expertise__page_parent {
    /* background-color: bisque; */
    margin: 2rem 4rem;
}

@media (max-width: 768px) {
    .our_expertise__page_parent {
        margin: 1.2rem 0.5rem 2rem 0.5rem;
    }
}

/* .our_expertise__page_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0px 30px;
    gap: 30px;
    background-color: blue;
}

@media (max-width: 768px) {
    .our_expertise__page_content {
        gap: 4px;
        padding: 20px 0px 0px 0px;
    }
} */


.our_expertise__page_content {
    display: grid;
    gap: 30px;
    padding: 30px 30px 0 30px;
    /* background-color: blue; */
    grid-template-columns: repeat(3, 1fr);

}

@media (max-width: 768px) {
    .our_expertise__page_content {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 0px 0px 0px;
        gap: 10px;

    }
}