@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* 
color: #053478;
dark 

color: #6A9FE0;
light

color: #2466B3;
medium
*/



.font_app_name {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    color: #053478;
}

.font_for_app_name_menu {
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    color: #053478;
}

@media(max-width: 768px) {
    .font_for_app_name_menu {
        font-family: 'Inter', sans-serif;
        font-size: 1.3rem;
    }
}

.font_for_icons {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #6A9FE0;
}

.font_for_icons_active {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #053478;
}

.font_for_icons:hover {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #2466B3;
}

.footer_item_font {
    font-family: 'Inter', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    color: #6A9FE0;
}

.footer_item_font:hover {
    font-family: 'Inter', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    color: #2466B3;
}

.footer_item_font_active {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: #053478;
}

.install_font {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #053478;
}

.font_for_login {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: white;
}

.font_for_signup {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
}

.action_bar_font {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #053478;
}

.action_bar_font:hover {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #6A9FE0;
}

.no_gift_font {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #053478;
}

.home_page_offer_title_font {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #053478;
}

.home_page_offer_description_font {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #6A9FE0;
}

.home_page_offer_shortcut_view_more_font {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #2466B3;
}

.home_page_offer_shortcut_view_more_font:hover {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #6A9FE0;
}

.offer_mini_screen_location_info_from_to_font {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #053478;
}

@media (max-width: 768px) {
    .offer_mini_screen_location_info_from_to_font {
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: #053478;
    }
}

.offer_mini_screen_location_info_from_to_place_code_font {
    font-family: 'Inter', sans-serif;
    font-size: 5rem;
    font-weight: 900;
    color: #6A9FE0;
    margin-left: -0.25rem;
}

@media (max-width: 768px) {
    .offer_mini_screen_location_info_from_to_place_code_font {
        font-family: 'Inter', sans-serif;
        font-size: 3rem;
        font-weight: 900;
        color: #6A9FE0;
        margin-left: -0.25rem;
    }
}

.offer_mini_screen_location_info_from_to_place_font {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #6A9FE0;
    padding-bottom: 10px;
    margin-top: -10px;
}

@media (max-width: 768px) {
    .offer_mini_screen_location_info_from_to_place_font {
        font-family: 'Inter', sans-serif;
        font-size: 1.3rem;
        font-weight: 600;
        color: #6A9FE0;
        padding-bottom: 10px;
        margin-top: -7px;
    }
}

.offer_mini_screen_location_info_from_to_date_and_time_font {
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: #053478;
}

@media (max-width: 768px) {
    .offer_mini_screen_location_info_from_to_date_and_time_font {
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: #053478;
    }
}


.holiday_mini_screen_discount_code_upto_font {
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: #053478;
}

@media (max-width: 768px) {
    .holiday_mini_screen_discount_code_upto_font {
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: #053478;
    }
}

.holiday_mini_screen_discount_code_percentage_font {
    font-family: 'Inter', sans-serif;
    font-size: 5rem;
    font-weight: 900;
    color: #6A9FE0;
}

@media (max-width: 768px) {
    .holiday_mini_screen_discount_code_percentage_font {
        font-family: 'Inter', sans-serif;
        font-size: 3rem;
        font-weight: 900;
        color: #6A9FE0;
    }
}

.holiday_mini_screen_discount_code_code_font {
    font-family: 'Inter', sans-serif;
    font-size: 5rem;
    font-weight: 900;
    color: #6A9FE0;
}

@media (max-width: 768px) {
    .holiday_mini_screen_discount_code_code_font {
        font-family: 'Inter', sans-serif;
        font-size: 2rem;
        font-weight: 900;
        color: #6A9FE0;
    }
}

.holiday_mini_screen_discount_code_discount_font {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #6A9FE0;
    padding-bottom: 10px;
    margin-top: -10px;
}

@media (max-width: 768px) {
    .holiday_mini_screen_discount_code_discount_font {
        font-family: 'Inter', sans-serif;
        font-size: 1.3rem;
        font-weight: 600;
        color: #6A9FE0;
        padding-bottom: 10px;
        margin-top: -10px;
    }
}

.home_title_font {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: #053478;
}

@media (max-width: 768px){
.home_title_font {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: #053478;
}
}

.home_description_font {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #6A9FE0;
}

@media (max-width: 768px){
.home_description_font {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #6A9FE0;
}
}