.highlights {
    margin: 40px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

@media (max-width: 768px) {
    .highlights {
        margin: 10px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* gap: 20px; */
    }
}

.highlights_divs {
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0rem 4rem;
    border-right: 1px solid #053478;

}

@media (max-width: 768px) {
    .highlights_divs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 8px 0rem;
        border-right: none;
        border-bottom: 1px solid #C3DCF7;
        width: 100%;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .highlights_divs div {
        padding: 0px 15px 0px 7px;
    }

    .highlights_icons_div {
        margin-bottom: -0.4rem;
    }
}

.highlights_divs:last-child {
    border-right: none;
    border-bottom: none;
}

.highlights_title_top {
    margin-bottom: -0.2rem;
}

@media (max-width: 768px) {
    .highlights_divs_mobile {
        display: flex;
        flex-direction: row;
        gap: 10px;
        /* justify-content: space-between; */
    }
}

.social_links_for_mobile_parent{
    display: none;
}


@media (max-width: 768px) {
    .social_links_for_mobile_parent {
        display: flex;
        flex-direction: column;
        margin: 1.5rem 0.1rem;
        gap: 1rem;
        padding: 1rem;
        /* background-color: yellowgreen; */
        border-radius: 18px;
        background-color: #FFFDF7;
        box-shadow: 0px 0px 16px #C0C0C0;
    }

    .social_links_for_mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .social_links_for_mobile div {
        border: 1px solid #053478;
        border-radius: 50%;
        width: 40px;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.25s ease-in-out;
        will-change: transform;
        cursor: pointer;
    }

    .social_links_for_mobile div svg {
        display: block;
    }

    .social_links_for_mobile div:hover {
        transform: scale(1.2);
    }
}