.no-highlight {
  outline: none;
  text-decoration: none;
}

.no-highlight:focus {
  outline: none;
}

.no-highlight:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  /* removes blue click highlight */
}

.no-highlight:focus-visible {
  outline: none;
}

body {
  padding-top: 55px;
}

@media (max-width: 768px) {
  body {
    padding-top: 45px;
  }
}

.icon {
  /* padding-top: 0.2rem; */
  display: inline;
  /* justify-content: center; */
  align-items: center;
}

.icon svg {
  display: block;
  /* prevents baseline behavior */
}

.truncate-2 {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  /* line-height: 20px; */
}